.header {
	background: #b6e8ff;
	height: 40px;
	border-bottom: solid 1px #32618a;
}

.nav-div {
	display: inline-block;
	width: 100%;
}

.app-name-div {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-right: 378px;
	color: #123b59;
}

.primary-nav-wrap {
	width: 378px;
}

.primary-nav-wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.primary-nav-wrap ul a {
    display: block;
    color: #123b59;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}

.primary-nav-wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.primary-nav-wrap ul li:hover {
    background: #94d2ff;
}

.primary-nav-wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}

.primary-nav-wrap ul ul li {
    float: none;
    width: 125px;
}

.primary-nav-wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
    background-color: #b6e8ff;
}

.primary-nav-wrap ul ul a:hover {
    background-color: #94d2ff;
}

.primary-nav-wrap ul ul ul {
    top: 0;
    left: 100%;
}

.primary-nav-wrap ul li:hover > ul {
    display: block;
}

.main-menu {
    width: 100%;
    background-color: #b6e8ff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b6e8ff;
    height: 40px;
	border-top: solid 1px #32618a;
}

.footer p {
    color: #123b59;
    text-align: center;
	margin: 10px auto auto auto;
}

.menu-item {
	width: 125px;
	border-right: solid 1px #32618a;
}
