<div>
    <nav id="primary_nav_wrap">
        <ul class="main-menu">
            <li class="current-menu-item"><a href="#">Home</a></li>
            <li><a href="#">Working hours</a>
                <ul>
                    <li><a href="#/working">Change</a></li>
                </ul>
            </li>
            <li><a href="#">Booking</a>
                <ul>
                    <li><a href="#/book">Book the time</a></li>
                    <li><a href="#/view">View</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div id="router-outlet">
    <router-outlet></router-outlet>
</div>
