<div class="header">
  <div class="nav-div">
    <nav class="primary-nav-wrap">
      <ul class="main-menu">
        <li class="menu-item">
          <a href="#">Home</a>
        </li>
        <li class="menu-item">
          <a href="#">Working hours</a>
          <ul>
            <li>
              <a href="#/working">Change</a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="#">Booking</a>
          <ul>
            <li>
              <a href="#/book">Book the room</a>
            </li>
            <li>
              <a href="#/view">View</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="app-name-div">
      <span class="app-name-text">Booking app</span>
    </div>
  </div>
</div>
<div id="router-outlet">
  <router-outlet></router-outlet>
</div>
<toaster-container></toaster-container>
<div class="footer">
  <p>Created by Artem Zagnitko (2018)</p>
</div>
